.button-center {
    display: block;
    margin: auto;
  }
  
.text-center {
    display: block;
    text-align: center;
}
  
.clickable {
    &:hover {
        cursor: pointer;
    }
  
    &:focus {
        background-image: none;
        outline: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

.container {
    min-height: 100%;
    min-height: calc(100vh - 250px);
    max-width: 1280px;
    margin: auto;
}

.center {
    margin: auto;
    width: 50%;
    text-align: center;
}

.box {
    border-style: solid;
    border-width: 1px;
    font-size: $font-size-xs;
    font-weight: $font-weight-light;
    margin: 0 auto 10px;
    padding: 15px 20px;
}

.not-displayed {
   display: none !important;;
}