.message-box {
    font-size: $font-size-xs;
    font-weight: $font-weight-light;
    text-align: center;

    div {
        float: right;

        img {
            width: 15px;
            height: 15px;
        }
    }

    &.err-message {
        background-color: $err-background-color;
        color: $er-font-color;
    }
    
    &.warning-message {
        background-color: $warning-background-color;
        color: $warning-font-color;
    }
    
    &.info-message {
        background-color: $info-background-color;
        color: $info-font-color;
    }

    &.success-message {
        background-color: $success-background-color;
        color: $success-font-color;
    }
}