.preferences-menu {
    // make modal menu absolute
    position: absolute;
    top: 50px;
    right: 0;
    z-index: 1;
    // make it scrollable
    overflow: scroll;
    max-height: 25vh;
    // style it as a menu
    list-style-type: none;
    margin-top: 3px;
    margin-right: 16px;
    padding: 0;
    background-color: $light-black;
    border-top: 1px solid $black;
    font-size: $font-size-xs;

    .title {
        display: block;
        color: $white;
        text-align: left;
        padding: 8px 14px 8px 14px;
        border-bottom: 1px solid $black;
    }

    .logout-item {    
        div {
            display: block;
            color: $white;
            text-align: center;
            padding: 14px 16px;
            cursor: pointer;
    
            /* Change the link color to #111 (black) on hover */
            &:hover {
                background-color: $black;
            }

            img {
                padding-left: 15px;
                width: 15px;
                height: 15px;
                float: right;
            }
        }
    }
}

