/* Color palette */
$white: #fff;
$black: #000;
$example-grey: #9b9b9b;
$navy: #2c3f6b;
$knowledge-dark: #a6a2dc;
$knowledge-pale: #d6cfff;
$knowledge-extra-pale: #f8f6ff;
$knowledge-dark-75: rgba(166, 162, 220, 0.75);
$project-dark: #d17070;
$project-pale: #ffacac;
$project-extra-pale: #fff0f4;
$project-pale-75: rgba(255, 172, 172, 0.75);
$tools-dark: #a1b1d1;
$tools-pale: #dae6fa;
$tools-extra-pale: #f3f7fd;

$font-size-box-front-h1-s: 6.5vw;
$font-size-box-front-h1-m: 3.25vw;
$font-size-box-front-h1-l: 2.25vw;
$font-size-box-front-h1-xl: 30px;

$max-box-size: 300px;
$box-size-l: 24vw;
$box-size-m: 32vw;
$box-size-s: 50vw;

$box-margin-xl: 10px;
$box-margin-l: 1vw;
$box-margin-m: 1vw;
$box-margin-s: 1vw;